body {
  background-color: #121212 !important;
  margin: 0;
  padding: 0;
  color: white;
}

#root {
  background-color: #121212 !important;
  min-height: 100vh;
}

.container-box {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #444;
}
